@use 'variables' as *;

:root {
  font-size: $global-font-clamp;
}

body {
  overflow-x: clip;
  font-size: 1rem;
  line-height: 1.5;
  font-family: 'Inter', Arial, Helvetica, sans-serif;
  color: $text-muted;
  background-color: $color-background;
}

h1, h2, h3, h4, h5, h6 {
  color: $text-primary;
}

a {
  color: inherit;
}

*:focus-visible {
  outline: solid 2px $color-accent;
}

body[data-theme="light"] *:focus-visible {
  outline: solid 2px $color-secondary;
}

svg {
  fill: none;
  stroke: $text-primary;
  stroke-width: 1.5;
  stroke-linecap: round;
  stroke-linejoin: round;
}

.icon {
  display: flex;
  width: 1em;
  aspect-ratio: 1 / 1;
}