@use '../core' as *;

.not-found-page {
  display: grid;
  grid-template-rows: 1fr 1fr;
  place-items: center;
  height: 100%;
  width: 100%;
  max-width: none;
  margin: 3rem 0;
}

.not-found-page section {
  text-align: center;
}

.not-found-page h1 {
  width: fit-content;
  height: fit-content;
  font-size: 5rem;
}

.not-found-page a {
  margin-top: 1.5rem;
  padding: 1rem 2rem;
  color: $text-muted-inverse;
  background-color: $color-primary;
  border-radius: 1rem;
  transition: background-color 0.3s ease;
  &:hover {
    background-color: color-mix(in srgb, $color-primary, black 10%);
  }
  &:active {
    transform: scale(0.95);
  }
}

body[data-theme="dark"] {
  .not-found-page a {
    color: $text-muted;    
  }
}