.sass-page {
  display: grid;
  gap: 2rem;
  max-width: clamp(40ch, 80%, 60ch);
  margin: 3rem 0;
  section {
    display: grid;
  gap: 1rem;
  }
}

.pro-con {
  ul {
    display: grid;
    gap: 1ch;
    list-style-type: disc;
    padding-left: 1.5rem;
  }
}