@use '../core' as *;

body {
  min-height: 100svh;
  display: grid;
  grid-template-rows: auto 1fr auto;
}

.header-content, main, .footer-content {
  display: grid;
  max-width: 1400px;
  margin: 0 auto;
}

header {
  color: $text-primary;
  font-size: 1.25rem;
  font-weight: bold;
}

.header-content {
  position: relative;
  display: flex;
  justify-content: space-between;
  gap: 8rem;
  & a, button {
   padding: 1rem;
   border-radius: 0.5rem;
  }
}

main {
  display: flex;
  flex-direction: column;
  place-items: center;
  width: 100%;
  height: 100%;
  padding: 0 $standard-padding;
}

.main-content {
  height: 100%;
}

.footer-content ul {
  display: grid;
  place-items: center;
  gap: 2rem;
}

@media (min-width: 800px) {
  .footer-content ul {
    grid-template-columns: 1fr 1fr 1fr;
  }
}

@media (min-width: 992px) {
  header {
    font-size: 1rem;
  }

  .header-content {
    display: grid;
    grid-template-columns: auto 1fr auto;
    place-items: center;
  }
}