@use '../core' as *;

nav {
  display: grid;
  grid-template-columns: 1fr auto;
}

.nav-list-container {
  visibility: hidden;
  position: fixed;
  inset: 0;
  top: $header-height;
  background-color: $color-background;
}

.nav-list {
  visibility: hidden;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  width: 100%;
  height: calc(100svh - ($header-height * 2));
  border-radius: 1rem;
  background-color: $color-primary;
  & a {
    padding: 1rem;
    border-radius: 0.5rem;
    color: $text-primary-inverse;
  }
}

.active-page {
  position: relative;
  &::after {
    content: "";
    position: absolute;
    left: 1rem;
    bottom: 1rem;
    width: calc(100% - 2rem);
    height: 2px;
    border-radius: 1rem;
    background-color: $color-secondary;
  }
}

body[data-theme="dark"] {
  .nav-list a {
    color: $text-primary;
  }
  .active-page {
    &::after {
      background-color: $color-accent;
    }
  }
}

.hamburger-button {
  border-radius: 0.5rem;
  z-index: 9999;
  & .icon {
    width: 2em;
  }
}

.menu-tools {
  position: fixed;
  left: 0;
  right: 0;
  bottom: 0;
  visibility: hidden;
  height: $header-height;
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: $color-background;
  & .button {
    border-radius: 0.5rem;
  }
}

body:has(nav[data-open="true"]) {
  overflow: hidden;
  padding-right: $scrollbar-width;
}

nav[data-open="true"] {
  & .nav-list {
    visibility: visible;
  }
  & + .menu-tools {
    visibility: visible;
  }
} 

@media (min-width: 992px) {
  .hamburger-button {
    display: none;
  }
  nav {
    width: 100%;
    height: 100%;
  }
  .nav-list-container {
    position: static;
    visibility: visible;
    background-color: unset;
  }
  .nav-list {
    visibility: visible;
    flex-direction: row;
    align-items: center;
    background-color: unset;
    height: 100%;
    a {
      color: $text-primary;
    }
  }
  
  .menu-tools {
    position: static;
    visibility: visible;
    height: 100%;
    background-color: unset;
  }
}