@use 'variables';

footer {
  padding: 1rem 0;
  color: variables.$text-muted-inverse;
  background-color: variables.$color-primary;
}

body[data-theme="dark"] footer {
  color: variables.$text-muted;
}