@use 'variables';

:root {
  font-size: variables.$global-font-clamp;
}

body {
  overflow-x: clip;
  font-size: 1rem;
  line-height: 1.5;
  font-family: 'Inter', Arial, Helvetica, sans-serif;
  color: variables.$text-muted;
  background-color: variables.$color-background;
}

h1, h2, h3, h4, h5, h6 {
  color: variables.$text-primary;
}

a {
  color: inherit;
}

*:focus-visible {
  outline: solid 2px variables.$color-accent;
}

svg {
  fill: none;
  stroke: variables.$text-primary;
  stroke-width: 1.5;
  stroke-linecap: round;
  stroke-linejoin: round;
}

.icon {
  display: flex;
  width: 1em;
  aspect-ratio: 1 / 1;
}