@use 'variables';

nav {
  display: grid;
  grid-template-columns: 1fr auto;
}

.nav-list-container {
  position: fixed;
  inset: 0;
  top: variables.$header-height;
  display: none;
  background-color: variables.$color-background;
}

.nav-list {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  width: 100%;
  height: calc(100svh - (variables.$header-height * 2));
  border-radius: 1rem;
  background-color: variables.$color-primary;
  & a {
    padding: 1rem;
    border-radius: 0.5rem;
  }
}

.active-page {
  position: relative;
  &::after {
    content: "";
    position: absolute;
    left: 1rem;
    bottom: 1rem;
    width: calc(100% - 2rem);
    height: 2px;
    border-radius: 1rem;
    background-color: variables.$color-primary;
  }
}

.hamburger-button {
  border-radius: 0.5rem;
  z-index: 9999;
  & .icon {
    width: 2em;
  }
}

.menu-tools {
  position: fixed;
  left: 0;
  right: 0;
  bottom: 0;
  visibility: hidden;
  height: variables.$header-height;
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: variables.$color-background;
  & .button {
    border-radius: 0.5rem;
  }
}

body:has(nav[data-open="true"]) {
  overflow: hidden;
  padding-right: variables.$scrollbar-width;
}

nav[data-open="true"] {
  & .nav-list-container {
    display: block;
  }
  & .nav-list {
    visibility: visible;
  }
  & + .menu-tools {
    visibility: visible;
  }
} 

@media (min-width: 992px) {
  .hamburger-button {
    display: none;
  }
  nav {
    width: 100%;
    height: 100%;
  }
  .nav-list-container {
    position: static;
    visibility: visible;
    background-color: unset;
  }
  .nav-list {
    flex-direction: row;
    align-items: center;
    background-color: unset;
    height: 100%;
  }
  .menu-tools {
    position: static;
    visibility: visible;
    height: 100%;
    background-color: unset;
  }
}