*, *::before, *::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

img, picture, video, canvas, svg {
  display: block;
  max-width: 100%;
}

svg {
  fill: currentColor;
}

ul, ol {
  list-style: none;
}

a {
  display: inline-block;
  text-decoration: none;
}

p a{
  text-decoration: underline;
}

input, button, textarea, select {
  font: inherit;
  border: none;
  background: transparent;
}

button{
  display: block;
  cursor: pointer;
}