@use 'theme-animation' as *;

$curve-smooth: cubic-bezier(0.22, 1, 0.36, 1);
$curve-elastic: cubic-bezier(0.17, 0.885, 0.32, 1.37);
$nav-duration: 300ms;
$top-nav-duration: $nav-duration * 0.75;
$bottom-nav-duration: $nav-duration * 0.15;

@mixin fade-slide-in($opacity, $px) {
  opacity: $opacity;
  transform: translateY($px);
  transition: 
    opacity $top-nav-duration,
    transform $top-nav-duration $curve-elastic;
}

.nav-list-container { 
  clip-path: inset(0 0 100% 0);
}

.nav-list {
  & li {
    opacity: 0;
    transform: translateY(-50px);
  }
}

.menu-tools {
  clip-path: inset(0 0 100% 0);
}

.menu-tools-content {
  opacity: 0;
  transform: translateY(-50px);
}

nav[data-open="true"] {
  & .nav-list-container {
    visibility: visible;
    clip-path: inset(0 0 0 0);
    transition: 
      clip-path $top-nav-duration ease-in,
      $theme-background-transition;
  }
  & .nav-list {
    visibility: visible;
    transition: 
      clip-path $top-nav-duration ease-in,
      $theme-background-transition;
  }
  & + .menu-tools {
    visibility: visible;
    clip-path: inset(0 0 0 0);
    transition: 
      clip-path $bottom-nav-duration ease-out $top-nav-duration,
      $theme-background-transition;
    & .menu-tools-content {
      @include fade-slide-in(1, 0);
      transition-delay: $nav-duration * 0.9;
    }
  }
  & .nav-list li {
    @include fade-slide-in(1, 0);
    &:nth-child(1) { transition-delay: $nav-duration * 0.4; }
    &:nth-child(2) { transition-delay: $nav-duration * 0.5; }
    &:nth-child(3) { transition-delay: $nav-duration * 0.6; }
    &:nth-child(4) { transition-delay: $nav-duration * 0.7; }
    &:nth-child(5) { transition-delay: $nav-duration * 0.8; }
  }
} 

@media (min-width: 992px) {
  .nav-list-container {
    clip-path: none;
  }

  .nav-list {
    & li {
      opacity: 1;
      transform: translateY(0);
    }
  }

  .menu-tools {
    clip-path: none;
  }

  .menu-tools-content {
    opacity: 1;
    transform: translateY(0);
  }
  
}